@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.abs {
	position: absolute;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: lightblue;
}

body {
	bottom: 0;
	font-family: 'Titillium Web', sans-serif;
	color: white;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: 0px 0px;
	overflow: hidden;
}

.container {
	position: absolute;
	background-color: #596e73;
	height: 480px;
	width: 640px;
}

.input_video {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.input_video.selfie {
	transform: scale(-1, 1);
}

.output_canvas {
	position: absolute;
	height: 480px;
	width: 640px;
	left: 0;
	top: 0;
}

.logo {
	bottom: 10px;
	right: 20px;
}

.logo .title {
	color: white;
	font-size: 28px;
}

.logo .subtitle {
	position: relative;
	color: white;
	font-size: 10px;
	left: -30px;
	top: 20px;
}

.control-panel {
	position: absolute;
	right: 10px;
	top: 10px;
}

.loading {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	backface-visibility: hidden;
	justify-content: center;
	opacity: 1;
	transition: opacity 1s;
}

.loading .message {
	font-size: x-large;
}

.loading .spinner {
	position: absolute;
	width: 120px;
	height: 120px;
	animation: spin 1s linear infinite;
	border: 32px solid #bebebe;
	border-top: 32px solid #3498db;
	border-radius: 50%;
}

.loaded .loading {
	opacity: 0;
}

.actions {
	position: fixed;
	bottom: 10px;
	right: 10px;
	max-width: 50px;
	max-height: 134px;
	overflow-y: auto;
}